<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
	<head>
	  <title>Clothes Products</title>
	</head>

	<h:body>
		<h3>Clothes Products</h3>
		
		<hr/>
		
		<br/>
		
		Welcome to the <b>Clothes Products</b>! Here you can see all the products offered from KO
	
	</h:body>

</html>
