<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Counter Two - Application Scope Test</title>
    </h:head>

    <h:body>
		<h3>Counter Two - Application Scope Test</h3>
		
		<hr/>
		
		<br/>
		
		Counter value: #{counterTwo.value}
		
		<br/><br/>
				
		<h:form>		
			<h:commandButton value="Increment" 
							action="#{counterTwo.increment()}" />
		</h:form>
		
    </h:body>
</html>