<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:head>
	  <title>Product types</title>
	</h:head>
	
	<h:body>
	
		<h:form>
		
			Select Product types:
			<h:selectOneMenu value="#{productBean.kindOfProduct}">
				<f:selectItem itemLabel="Clothes" itemValue="clothes"></f:selectItem>
				<f:selectItem itemLabel="Tea" itemValue="tea"></f:selectItem>
			</h:selectOneMenu>
			
			<h:commandButton value="Submit" action="#{productBean.showTheProducts()}"></h:commandButton>
		
		</h:form>
			
	</h:body>

</html>
